<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#fff"/>
  <script src="<%=location%>/js/plugdo-dependency.min.js"></script>
  <!--PLUGDO UI V2.7-->
  <script src="<%=location%>/js/plugdoeui.min.js"></script>

  <link href="<%=location%>/css/fonts-googleapis.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="<%=location%>/css/daterangepicker.css">
    <script type="text/javascript" src="<%=location%>/js/moment.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/css/intlTelInput.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="<%=location%>/css/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="<%=location%>/css/fontawesome.css">
  <!-- Main Style -->
  <link rel="stylesheet" href="<%=location%>/css/styles.css">
  <link rel="stylesheet" href="<%=location%>/css/shoping-cart.css">
  <link rel="stylesheet" href="<%=location%>/css/slick.css">
  <link rel="manifest" href="<%=location%>/manifest/manifest.webmanifest">
  <title>Food Delivery</title>
</head>